.guestbook-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.guestbook-page h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.guestbook-page h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #555;
}

.guestbook-page .messages-list {
    width: 50%;
}

.guestbook-page button {
  margin-top: 2rem;
  padding: 10px 20px;
  font-size: 1rem;
  background-color:#015aba;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.guestbook-page button:hover {
  background-color: #357ab8;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; 
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

.pagination button {
  padding: 6px 12px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


